<nav class="active" id="sidebar" th:fragment="header" xmlns:th="http://www.thymeleaf.org"
>
    <div class="sidebar-header">
        <a th:href="@{/}"><img id="imagesmall" th:src="@{images/logo.png}"></a>
        <a th:href="@{/}"><img id="imagefull" th:src="@{images/logobig.png}"></a>
    </div>

    <ul class="list-unstyled components">
        <li class="">
            <a th:href="@{/}" class="collapse list-unstyled">
                <i class="fas fa-home"></i>
                Αρχική
                </a>
            </li>
            <li>
                <a th:href="@{/profile}">
                    <i class="fas fa-briefcase"></i>
                    Προφίλ Χρήστη
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Αιτήσεις
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a th:href="@{/addapplication}">Υποβολή αίτησης</a>
                    </li>
                    <li>
                        <a href="#">Οι αιτήσεις μου</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Διαχείριση
                </a>
                <ul class="collapse list-unstyled" id="adminSubmenu">
                    <li>
                        <a th:href="@{/listapplications}">Διαχείριση αίτησεων</a>
                    </li>
                    <li>
                        <a th:href="@{/listusers}">Διαχείριση χρηστών</a>
                    </li>
                    <li>
                        <a th:href="@{/adduser}">Προσθήκη χρήστη</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-question"></i>
                    Συχνές ερωτήσεις
                </a>
            </li>
            <li>
                <a th:href="@{/contact}">
                    <i class="fas fa-paper-plane"></i>
                    Επικοινωνία
                </a>
            </li>
        </ul>
    </nav>