<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

	<link rel="stylesheet" type="text/css"
		  href="/css/login.css"/>
<title>Σύστημα ηλεκτρονικής υποβολής αιτήσεων σίτησης</title>
</head>
<body>
	<div class="jumbotron">
		<img src="/images/logomain.png">
		<h1 class="" ><a href="#" th:href="@{/}">Σύστημα ηλεκτρονικής υποβολής αιτήσεων σίτισης</a></h1>
		<p class="lead">Καλώς Ήλθατε στο σύστημα ηλεκτρονικής υποβολής αιτήσεων σίτισης του Χαροκοπείου Πανεπιστημίου.</p>
		<hr class="my-4">
		<p>Μπορείτε να συνεθείτε με τα διαπιστευτήρια που σας έχουν δωθεί από την υπηρεσία Φοιτητικής Μέριμνας.</p>
	</div>
	<br>
	<br>

	<div class="container">
		<div class="row">
				<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
					<div class="card card-signin my-5">
						<div class="card-body">
								<form class="form-signin"th:action="@{/login}" method="post">
									<h1>Φόρμα σύνδεσης</h1>
									<div th:if="${param.error}">
										<div class="alert alert-danger">Λάνθασμένα στοιχεία σύνδεσης.</div>
									</div>
									<div th:if="${param.logout}">
										<div class="alert alert-info">Έχετε αποσυνδεθεί.</div>
									</div>
								<div class="form-label-group">
									<p>Email χρήστη</p>
									<input type="text"
										   id="username" name="username" class="form-control"
										   autofocus="autofocus" placeholder="Username" />
								</div>

								<div class="form-label-group">
									<p>Κωδικός χρήστη</p>
									<input type="password" id="password" name="password" class="form-control"
																				   placeholder="Password" />
								</div>
								<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="login-submit" id="login-submit">Συνδεση</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>